@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  position: relative;
  text-decoration: none;
  color: black;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 0;
  height: 3px;
  background-color: rgb(101, 56, 139);
  transition: width 0.3s ease-in;
}
.link.active::after {
  width: 100%;
}

/* Change the color of navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #900db8 !important; /* Purple color */
}

/* On hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #b41ae2 !important; /* Darker purple */
}
